body {width: 960px;
  margin: 20px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:rgb(218, 151, 27);
  font-size: 16px;
}

header {
  border-bottom: 1px solid black;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  text-shadow: 2px 2px black;

}

section {
  display: inline-block;
  width: 300px;
  padding: 0 8px 0 0;
  
}

nav ul li a {
  margin-bottom: 8px;
  color: black;
  font-weight:bold;
  text-decoration: none;  
}

article { text-indent: 20px;
  text-align: justify;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
aside {
  display: inline-block;
  width: 600px;
  vertical-align: top;
  padding: 0 0 0 8px;
  border-left: 1px solid black;
  background-origin: padding-box;
  float; clear:both;
  t 
}
  footer {
    padding: 14px 0 14px 0;
    border-top: 1px solid black;
  }
